<%= content_tag :div, class: 'container centre-block' do %>
  <table class="team-table">
    Your team:
    <% unless @team.any? %>
      You have not yet added any pokemon to your team!
    <% end %>
    <% @team.each do |member| %>
      <tr>
        <td><%= member.name.capitalize %></td>
        <td>
          <%= form_tag delete_pokemon_path, method: :delete, pokemon: member.name do %>
            <%= hidden_field_tag :pokemon, member.name %>
            <%= submit_tag "Delete" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <%= content_tag :div, class: 'add-enemy-form' do %>
    <%= form_tag find_best_pokemon_path, method: :post, class: 'add-enemy-form' do %>
      <%= label_tag :enemy, "Enter the enemy you are facing!" %>
      <%= text_field_tag :enemy, nil, required: true %>
      <%= submit_tag "Enter" %>
    <% end %>
  <% end %>

  <% if @best_pokemon %>
    <%= "#{@best_pokemon.name.capitalize}! I choose you!" %>
  <% end %>
<% end %>
